.display{
    height: 40px;
    width: 165px;
    border: 1px solid black;
    text-align: center;
    font-size: large;
    background-color: white;
}

.botao{
    margin: 5px;
    width: 30px;
}

.botaoEspecial{
    margin: 5px;
    width: 30px;
    background-color: lightsalmon;
    font-weight: bold;
}

.botaoEspecialMemoria{
    margin: 5px;
    width: 30px;
    background-color: lightblue;
    font-weight: bold;
    display:inline-flex;
    justify-content: center;
    align-items: center;
}

.tudo{
    border: 1px solid black;
    padding: 10px;
    width: fit-content;
    background-color: lightgray;
}